table {
  border-collapse: collapse;
  font-size: 1.2rem;
  border: 2px solid #000000;
}
th {
  background-color: #f0f0f0;
  padding: 10px;
  border: 2px solid #000000;
}
td {
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
  border: 2px solid #000000;
}
